$fontFamily: "Montserrat", sans-serif;
$fontFamilyAdditional: "Playfair Display", serif;

// $minWidth: 320;
$minWidth: 320;
$maxWidth: 1152;

$maxWidthContainer: 1138;
// breakpoints

$contentIndent: 10;
$contentIndentMd4: 28;

$t_time: 0.25s;

$color_black: #282828;
$color_white: #fff;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: toPixels($maxWidthContainer + 40),
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: toPixels($maxWidthContainer),
);

$grid-gutter-width: 30px;
