@import "./googlefonts";

@font-face {
  font-family: "aikus_kz";
  src: url("../fonts/aikus_kz.woff") format("woff"),
    url("../fonts/aikus_kz.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="aikus-"],
[class*=" aikus-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "aikus_kz" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.aikus-img-close:before {
  content: "\e900";
}
.aikus-img-mail:before {
  content: "\e901";
}
.aikus-img-phone:before {
  content: "\e902";
}
.aikus-img-pin:before {
  content: "\e903";
}
.aikus-img-arrow:before {
  content: "\e904";
  font-size: 10px;
}
