@mixin title {
  color: $color_blue;
}

.ws-not-display {
  display: none;
}

.ws-logo {
  font-family: $fontFamilyAdditional;
  font-size: $fontSizeRelBase_22;

  @media (max-width: toPixels(map.get($breakpoints, "sm"))) {
    font-size: $fontSizeRelBase_18;
  }
}

.ws-title-h1 {
  font-family: $fontFamilyAdditional;
  font-size: $fontSizeRelBase_72;
  @include title;

  @media (max-width: toPixels(map.get($breakpoints, "xl"))) {
    font-size: $fontSizeRelBase_64;
  }

  @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
    font-size: $fontSizeRelBase_42;
  }

  @media (max-width: toPixels(map.get($breakpoints, "sm"))) {
    font-size: $fontSizeRelBase_30;
  }
}

.ws-title-h2 {
  font-size: $fontSizeRelBase_41;
  font-weight: 700;
  @include title;

  @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
    font-size: $fontSizeRelBase_36;
  }

  @media (max-width: toPixels(map.get($breakpoints, "sm"))) {
    font-size: $fontSizeRelBase_32;
  }
}

.ws-btn-write-us {
  position: relative;
  left: -10px;
  display: inline-block;
  padding: 10px 19px 10px 10px;
  font-size: $fontSizeRelBase_14;
  text-transform: uppercase;

  @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
    left: 0;
  }

  @media (max-width: toPixels(map.get($breakpoints, "sm"))) {
    left: -10px;
  }

  &:hover {
    color: $color_brown;
    &::before {
      right: 9px;
      color: $color_white;
    }

    &::after {
      background-color: $color_brown;
    }
  }

  &:target,
  &:active {
    &::before {
      right: 20px;
      color: $color_white;
    }

    &::after {
      background-color: $color_brown;
    }
  }

  &::before {
    content: "→";
    position: absolute;
    z-index: 10;
    top: 16px;
    right: 20px;
    display: inline-block;
    font-size: $fontSizeRelBase_24;
    color: $color_brown;
    transition: all 0.35s linear;
  }

  &::after {
    content: "";
    position: relative;
    top: 10px;
    right: -14px;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid $color_brown;
    border-radius: 15px;
    transition: background-color 0.5s linear;
  }
}

.ws-accent {
  color: $color_brown;
}

.ws-section-top-indent {
  padding-top: 155px;

  @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
    padding-top: 110px;
  }
}

.ws-nowrap-text {
  white-space: nowrap;
}

.ws-strokes {
  position: relative;
  bottom: -1px;
  display: block;
  flex: 0 0 10px;
  height: 10px;
  border-left: 2px solid $color_blue;
}

.ws-slogan-container {
  display: flex;
  margin-top: 60px;
  border-top: 2px solid $color_blue;
  border-bottom: 2px solid $color_blue;

  @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
    margin-top: 29px;
  }

  > span {
    flex: 0 1 50%;

    @media (max-width: toPixels(map.get($breakpoints, "md"))) {
      flex: 0 1 12%;
    }
  }

  > div {
    flex: 1 0 50%;

    @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
      font-size: $fontSizeRelBase_20;
    }

    > p {
      padding-top: 40px;
      padding-bottom: 30px;
      font-size: $fontSizeRelBase_26;

      @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
        padding-top: 20px;
        padding-bottom: 17px;
        font-size: $fontSizeRelBase_20;
      }
    }
  }
}
