@use "sass:map";
@import "./humburger-menu";

.header-container {
  position: fixed;
  z-index: 100;
  top: 0;

  width: 100%;
  background-color: $color_lightgrey;
}

.header {
  position: relative;

  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 36px;
  border-bottom: 2px solid $color_blue;

  font-size: $fontSizeRelBase_18;
  font-weight: 400;

  transition: border-color $t_time linear;

  @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
    padding-top: 30px;
  }

  @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
    align-items: flex-end;
    border-bottom: none;
  }

  &__logo-img {
    width: 213px;
    height: 34px;

    @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
      width: 180px;
      height: 28.725px;
    }
  }

  > ul {
    display: flex;
    padding-top: 8px;

    @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
      display: none;
    }

    > li {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-right: 1px;
      padding-left: 77px;

      > a {
        padding-bottom: 9px;
      }

      &.nowrap {
        white-space: nowrap;
      }
    }
  }
}

.sub-header {
  height: 30px;
  box-shadow: 0px 10px 15px 0px rgba(209, 209, 209, 0.2);
  background-color: $color_lightgrey;
}

.menu-substrate {
  display: none;

  @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
    position: fixed;
    z-index: 500;
    left: -110%;

    display: block;
    width: calc(100% + 6px);
    bottom: 0;
    top: 0;

    background-color: $color_lightgrey;
    background-image: url(../img/bgLogoForMenu_lg.webp);
    background-position: 35vw center;
    background-size: 60vmin auto;
    background-repeat: no-repeat;

    transition: left $t_time ease-in-out;

    &.open {
      left: -3px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 160px;

    @media (max-height: 600px) {
      padding-top: 26px;
      padding-bottom: 40px;
    }

    > ul {
      font-size: $fontSizeRelBase_20;

      @media (max-height: 600px) {
        font-size: $fontSizeRelBase_16;

        > li {
          padding-top: 14px;
        }
      }

      > li {
        padding-top: 20px;

        &:first-child {
          padding-top: 0;
        }
      }
    }
  }

  &__icon-close {
    display: block;

    font-size: 45px;
    color: $color_blue;
    text-align: right;

    cursor: pointer;
  }

  &__foot-sign {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 0 auto;
    width: 100%;
  }

  &__image-container {
    padding-top: 20px;
    border-bottom: 2px solid $color_blue;

    font-size: $fontSizeRelBase_22;
    color: $color_blue;
  }

  &__contacts-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 60px;

    font-size: $fontSizeRelBase_16;
    color: $color_blue;

    @media (max-height: 600px) {
      flex-direction: row;
    }

    a {
      color: $color_blue;
    }
  }

  &__mailphone-container {
    padding-top: 20px;
  }

  &__freephone-container {
    padding-top: 20px;
  }
}
