@use "sass:map";
@import "./humburger-menu";

.header-container {
  background-color: $color_lightgrey;
  width: 100vw;

  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.header {
  // border-bottom: 1px solid red;

  display: flex;
  justify-content: space-between;

  position: relative;

  width: 100%;
  // min-height: 70px;

  padding-top: 36px;

  // padding-bottom: 32px;
  border-bottom: 2px solid $color_blue;

  font-size: $fontBaseSize;
  font-weight: 400;

  transition: border-color $t_time linear;

  @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
    padding-top: 30px;
  }

  &__logo-img {
    @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
      max-width: 180px;
    }
  }

  > ul {
    display: flex;
    padding-top: 8px;

    @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      // display: flex;
      flex-direction: column;
      z-index: 200;
      span {
        display: none;
      }
    }

    > li {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      padding-left: 77px;
      padding-right: 1px;

      > a {
        padding-bottom: 9px;
      }

      &.nowrap {
        white-space: nowrap;
      }
    }
  }

  @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
    border-bottom: none;
    align-items: flex-end;
  }
}

.sub-header {
  height: 30px;
  background-color: $color_lightgrey;
  -webkit-box-shadow: 0px 10px 15px 0px rgba(209, 209, 209, 0.2);
  -moz-box-shadow: 0px 10px 15px 0px rgba(209, 209, 209, 0.2);
  box-shadow: 0px 10px 15px 0px rgba(209, 209, 209, 0.2);
}

// .text-menu {
//   &__undermenustrokes {
//     display: block;
//     border-left: 2px solid $color_blue;
//     height: 10px;
//     margin-top: 9px;
//   }
// }
