/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
  position: absolute;
  top: -50px;
  left: -50px;
}
/* стилизуем кнопку */
.menu__btn {
  // border: 1px solid red;
  // display: flex; /* используем flex для центрирования содержимого */
  align-items: center; /* центрируем содержимое кнопки */
  position: relative;
  // top: 66px;
  // right: 28px;
  min-width: 40px;
  height: 20px;
  cursor: pointer;
  z-index: 20;
  display: none;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
    display: flex;
  }
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: $color_blue;
  bottom: 5px;
}
.menu__btn > span::before {
  content: "";
  left: 25%;
  width: 75%;
  top: -7px;
}
// .menu__btn > span::after {
//   content: "";
//   top: 7px;
// }

// #menu__toggle:checked ~ .menu__btn > span {
//   transform: rotate(45deg);
// }
// #menu__toggle:checked ~ .menu__btn > span::before {
//   top: 0;
//   transform: rotate(0);
//   background-color: #828282;
// }
// #menu__toggle:checked ~ .menu__btn > span::after {
//   top: 0;
//   transform: rotate(90deg);
//   background-color: #828282;
// }
// #menu__toggle:checked ~ .menu__box {
//   visibility: visible;
//   left: 0;
// }

// .menu__btn > span,
// .menu__btn > span::before,
// .menu__btn > span::after {
//   transition-duration: 0.25s;
// }
// .menu__box {
//   transition-duration: 0.25s;
// }
// .menu__item {
//   transition-duration: 0.25s;
// }
