.notFound {
  scroll-behavior: smooth;
  background-color: $color_lightgrey;
  position: relative;
  height: 100vh;

  &__logo {
    padding-top: 40px;
    padding-bottom: 120px;
  }

  &__logo-img {
    width: 213px;
    height: 34px;

    @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
      width: 180px;
      height: 28.725px;
    }
  }

  &__title-container {
    // display: flex;
    padding-bottom: 30px;

    // row-gap: 25px;

    // @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
    //   padding-bottom: 120px;
    // }

    // @media (max-width: toPixels(map.get($breakpoints, "md"))) {
    //   flex-wrap: wrap;
    // }
  }

  &__fold {
    &_container {
      display: flex;
    }

    &_main {
      padding-left: 50%;

      border-top: 2px solid $color_blue;
      border-bottom: 2px solid $color_blue;

      @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
        padding-left: 40%;
      }

      @media (max-width: toPixels(map.get($breakpoints, "md"))) {
        padding-left: 20%;
      }
    }

    &_section {
      border-top: 2px solid $color_blue;

      &:first-child {
        border-top: none;
      }
    }

    &_title-container {
      display: flex;
      justify-content: space-between;

      padding-top: 34px;
      // margin-top: 30px;
      padding-bottom: 14px;
      cursor: pointer;

      transition: color $t_time linear;
      color: $color_blue;

      &:hover {
        color: $color_blue;
      }

      &:focus,
      &:active {
        color: $color_black;
      }
    }

    &_title-text {
      font-size: $fontSizeRelBase_41;

      @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
        font-size: $fontSizeRelBase_32;
      }

      @media (max-width: toPixels(map.get($breakpoints, "md"))) {
        font-size: $fontSizeRelBase_30;
      }

      @media (max-width: toPixels(map.get($breakpoints, "sm"))) {
        font-size: $fontSizeRelBase_26;
      }
    }

    &_title-arrow {
      align-self: flex-end;
      position: relative;
      bottom: 12px;

      font-size: $fontSizeRelBase_48;
      color: $color_blue;

      transform: rotate(0deg);
      transform-origin: 18px 12px;
      transition: transform 0.25s linear;

      @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
        font-size: $fontSizeRelBase_24;
        transform-origin: 9px 6px;
      }

      &.open {
        transform: rotate(45deg);
      }
    }

    &_content-container {
      overflow: hidden;
      height: auto;
      max-height: 0;

      transition: max-height 0.25s ease-in-out;

      padding-left: 35%;

      @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
        padding-left: 14%;
      }

      > li {
        font-size: $fontSizeRelBase_26;
        list-style-type: "—";
        padding-left: 22px;
        padding-bottom: 14px;

        @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
          font-size: $fontSizeRelBase_20;
          padding-left: 9px;
        }

        @media (max-width: toPixels(map.get($breakpoints, "sm"))) {
          font-size: $fontSizeRelBase_18;
          padding-left: 7px;
        }

        &::marker {
          color: $color_blue;
        }

        &:first-child {
          padding-top: 32px;

          @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
            padding-top: 27px;
          }
        }
      }

      @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
        font-size: $fontSizeRelBase_20;
      }

      &.open {
        max-height: 750px;
      }
    }
  }
}
