.principles {
  padding-bottom: 240px;
  background-color: $color_lightgrey;

  @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
    padding-bottom: 115px;
  }

  &__title {
    @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
      max-width: 330px;
    }
  }
}

.processes {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  row-gap: 40px;

  padding-top: 120px;

  @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
    flex-wrap: wrap;
    padding-top: 40px;
  }

  @media (max-width: toPixels(map.get($breakpoints, "md"))) {
    column-gap: 25px;
  }

  @media (max-width: toPixels(map.get($breakpoints, "sm"))) {
    flex-direction: column;
    row-gap: 60px;
  }

  &__item-container {
    display: flex;
    flex-direction: column;
    flex: 0 1 25%;

    @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
      flex: 1 1 40%;
    }
  }

  &__item-icon {
    font-size: 150px;
    color: $color_blue;

    @media (max-width: toPixels(map.get($breakpoints, "sm"))) {
      margin: 0 auto;
    }
  }

  &__item-title {
    padding-top: 20px;

    font-size: $fontSizeRelBase_26;
    line-height: 36px;
    color: $color_blue;

    @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
      padding-top: 27px;
      font-size: $fontSizeRelBase_20;
    }

    @media (max-width: toPixels(map.get($breakpoints, "sm"))) {
      padding-top: 18px;
      text-align: center;
    }
  }

  &__item-text {
    padding-top: 20px;
    line-height: 25px;

    @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
      padding-top: 0px;
      font-size: $fontSizeRelBase_16;
    }
  }
}
