.footer {
}

.top-footer {
  padding-top: 100px;
  padding-bottom: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
    flex-wrap: wrap;
    // row-gap: 30px;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__logo {
    @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
      display: none;
    }
  }

  &__menu {
    display: flex;
    transition: height 0.25s linear;

    @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
      flex: 1 0 100%;
      justify-content: center;
    }

    @media (max-width: toPixels(map.get($breakpoints, "sm"))) {
      flex-direction: column;
      align-items: center;
      height: 0px;
    }

    &.active {
      @media (max-width: toPixels(map.get($breakpoints, "sm"))) {
        height: 220px;
      }
    }

    > li {
      padding-right: 50px;

      font-size: $fontSizeRelBase_18;
      font-weight: 500;
      line-height: 23px;
      white-space: 0.04em;

      text-transform: lowercase;
    }
    > li:last-child {
      padding-right: 0;
    }

    @media (max-width: toPixels(map.get($breakpoints, "xxl"))) {
      > li {
        padding-right: 35px;
      }
    }

    @media (max-width: toPixels(map.get($breakpoints, "xl"))) {
      > li {
        padding-right: 14px;
      }
    }

    @media (max-width: toPixels(map.get($breakpoints, "sm"))) {
      > li {
        padding-right: 0;
        padding-bottom: 7px;

        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }

  &__socials {
    @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
      padding-top: 30px;
    }

    > a {
      display: inline-block;
      &:hover {
        text-decoration: none;
      }
      &:after {
        font-size: 24px;
      }
      padding-right: 42px;
      &:last-child {
        padding-right: 0;
      }
    }

    @media (max-width: toPixels(map.get($breakpoints, "xxl"))) {
      > a {
        padding-right: 32px;
      }
    }

    @media (max-width: toPixels(map.get($breakpoints, "xl"))) {
      > a {
        padding-right: 14px;
      }
    }

    @media (max-width: toPixels(map.get($breakpoints, "sm"))) {
      > a {
        padding-right: 50px;
        span:before {
          font-size: 1.5rem;
        }
      }
    }
  }

  &__min-menu {
    display: none;
    position: relative;

    a {
      font-size: 0.8rem;
      color: var(--color-secondary);

      &:hover {
        text-decoration: none;
      }
    }

    span {
      position: absolute;
      top: 5px;
      transition: transform 0.25s linear;
    }

    &.active {
      span {
        transform: rotateZ(180deg);
      }
    }

    @media (max-width: toPixels(map.get($breakpoints, "sm"))) {
      display: block;
      text-align: center;
    }
  }
}

.bottom-footer {
  background-color: var(--color-delimiter-primary);
  padding-top: 39px;
  padding-bottom: 39px;

  font-weight: 500;
  font-size: $fontSizeRelBase_18;
  line-height: 22px;
  letter-spacing: 0.04em;
  text-align: center;

  color: $color_lightgrey;
}

.show-max-sm {
  @media (max-width: toPixels(map.get($breakpoints, "sm"))) {
    display: block;
  }
}

.hide-max-sm {
  @media (max-width: toPixels(map.get($breakpoints, "sm"))) {
    // display: none;
    height: 0px;
    overflow: hidden;
  }
}
