@mixin title {
}

.ws-title-h1 {
  @include title;
}

.ws-title-h2 {
  @include title;
}

.ws-h-short-delimiter {
}

.ws-btn {
}

.ws-section-link {
  position: relative;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0.04em;
  text-align: center;

  text-transform: lowercase;

  a:hover {
    text-decoration: underline;
  }

  @media (max-width: toPixels(map.get($breakpoints, "top"))) {
    font-size: 22px;
  }

  @media (max-width: toPixels(map.get($breakpoints, "xxl"))) {
    font-size: 20px;
  }

  @media (max-width: toPixels(map.get($breakpoints, "xl"))) {
    font-size: 19px;
  }

  @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
    font-size: 18px;
  }

  @media (max-width: toPixels(map.get($breakpoints, "md"))) {
    font-size: 17px;
  }
}

.ws-arrow {
  padding-left: 14px;
  font-size: 15px;

  position: absolute;
  bottom: 7px;
}

.ws-logo {
  font-family: $fontFamilyAdditional;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: 0.04em;
  font-size: 1rem;
  text-transform: lowercase;

  @media (max-width: 415px) {
    font-size: 0.76em;
  }
}
