@mixin slider-paddings($breakpoint, $ratio) {
  @media (max-width: toPixels(map.get($breakpoints, $breakpoint))) {
    // padding-top: toPixels(100 * map.get($scaleRatio, $ratio));
    &__image-container {
      width: toPixels(1320 * map.get($scaleRatio, $ratio));
      height: toPixels(701 * map.get($scaleRatio, $ratio));
      margin: 0 toPixels(50 * map.get($scaleRatio, $ratio));
    }

    &__items {
      padding-top: toPixels(92 * map.get($scaleRatio, $ratio));

      a {
        font-size: toPixels(48 * map.get($scaleRatio, $ratio));
        line-height: toPixels(50 * map.get($scaleRatio, $ratio));
      }
    }

    &__item {
      margin: 0 toPixels(25 * map.get($scaleRatio, $ratio));
    }

    // &__link-container {
    //   padding-top: toPixels(103 * map.get($scaleRatio, $ratio));
    // }

    &__bottom-border {
      // padding-bottom: toPixels(90 * map.get($scaleRatio, $ratio));
    }
  }
}

.slider {
  // position: relative;
  padding-top: 100px; // TODO: уменьшаем
  width: 100%;
  overflow: hidden;

  @include slider-paddings("top", "xxl");
  @include slider-paddings("xxl", "xl");
  @include slider-paddings("xl", "lg");
  @include slider-paddings("lg", "md");
  @include slider-paddings("md", "sm");

  &__images {
    display: block;
    position: relative;
    width: 20000px;
    left: calc(50% - 10000px);
    text-align: center;
    font-size: 0;

    transition: margin-left 0.25s linear;
  }

  &__image-container {
    display: inline-block;
    position: relative;
    width: 1320px;
    height: 701px;
    margin: 0 50px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__items {
    padding-top: 92px; // TODO: уменьшаем
    display: block;
    position: relative;
    width: 4160px;
    left: calc(50% - 2080px - 33px);
    text-align: center;
    font-size: 0;

    transition: margin-left 0.25s linear;

    @media (max-width: toPixels(map.get($breakpoints, "xxl"))) {
      left: calc(50% - 2080px - 9px);
    }

    a {
      font-family: $fontFamilyAdditional;
      font-weight: 700;
      font-size: $fontSizeRelBase_48;
      letter-spacing: 0.04em;
      line-height: 50px;
      text-transform: lowercase;
      color: $color_text_grey;

      color: var(--color-delimiter-primary);
    }
  }

  &__item {
    display: inline-block;
    margin: 0 24px; // TODO: уменьшаем

    &.active {
      a {
        color: var(--color-delimiter-secondary);
      }
    }

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  &__link-container {
    padding-top: 100px;
  }

  &__bottom-border {
    padding-bottom: 100px;

    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: var(--color-delimiter-primary);

    transition: border-color $t_time linear;
  }
}
