.fromBottomIn {
  transition: transform 1.5s ease, opacity 1.5s ease;

  transform: translate(0, 0);
  opacity: 1;
}

.fromBottomOut {
  transition: transform 1.5s ease, opacity 1.5s ease;

  transform: translate(0, 20px);
  opacity: 0;
}

.visible,
.invisible {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.visible {
  opacity: 1;
}
