@import "./googlefonts";

@font-face {
  font-family: "rconsult";
  src: url("../fonts/rconsult.woff") format("woff"),
    url("../fonts/rconsult.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="rcicons-"],
[class*=" rcicons-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "rconsult" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rcicons-icon_automate:before {
  content: "\e908";
}
.rcicons-icon_optimization:before {
  content: "\e909";
}
.rcicons-icon_team:before {
  content: "\e90a";
}
.rcicons-icon_tech:before {
  content: "\e90b";
}
.rcicons-img-pdf:before {
  content: "\e901";
}
.rcicons-img-automate:before {
  content: "\e902";
}
.rcicons-img-optimization:before {
  content: "\e903";
}
.rcicons-img-team:before {
  content: "\e904";
}
.rcicons-img-tech:before {
  content: "\e905";
}
.rcicons-img-close:before {
  content: "\e907";
}
.rcicons-logo_bottom:before {
  content: "\e900";
}
.rcicons-arrow-right-top:before {
  content: "\e906";
}
