@use "sass:map";
// @import "./humburger-menu";

.header {
  &__fontTests {
    border: 1px solid lightblue;
    // font-family: "Courier New", Courier, monospace;
    line-height: normal;
    letter-spacing: 4px;
    word-spacing: 30px;
    font-stretch: 50%;
  }
}

.color1 {
  color: rgb(90, 121, 160);
}

.color2 {
  color: #94c1d1;
}

.parent-block {
  position: relative;
}

.block1 {
}

.block2 {
  // position: absolute;
  // top: 0;
  // font-family: cursive;
}
