.requisites {
  &__title {
    padding-top: 42px;

    @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
      padding-top: 10px;
    }
  }

  &__content-container {
    padding-top: 75px;
    padding-bottom: 200px;

    @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
      padding-top: 60px;
      padding-bottom: 120px;
    }

    @media (max-width: toPixels(map.get($breakpoints, "md"))) {
      padding-top: 40px;
    }

    @media (max-width: toPixels(map.get($breakpoints, "sm"))) {
      padding-bottom: 80px;
    }
  }

  &__item-container {
    display: flex;
    justify-content: flex-end;

    @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
      justify-content: flex-start;
      font-size: $fontSizeRelBase_16;
    }

    @media (max-width: toPixels(map.get($breakpoints, "sm"))) {
      font-size: 12px;
    }
  }

  &__item-title-container {
    flex: 0 1 25%;
    padding: 25px 0 15px;
    border-bottom: 1px solid $color_brown;

    @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
      flex: 1 0 calc(50% - 20px);
    }

    > h5 {
      font-weight: 700;
      color: $color_brown;
      text-transform: uppercase;

      @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
        padding-right: 20px;
      }

      @media (max-width: toPixels(map.get($breakpoints, "sm"))) {
        padding-right: 8px;
      }
    }

    &.top-border {
      border-top: 1px solid $color_brown;
    }
  }

  &__item-text-container {
    flex: 0 1 50%;
    padding: 25px 0 5px;
    border-bottom: 1px solid $color_brown;

    @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
      flex: 1 0 50%;
    }
    > p {
      padding-left: 20px;
      color: $color_blue;

      @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
        padding-left: 0;
      }
    }

    &.top-border {
      border-top: 1px solid $color_brown;
    }
  }
}
