.welcome {
  background-color: $color_light;
  padding-bottom: 197px;
  position: relative;

  @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
    padding-bottom: 120px;
  }
  &__container {
    padding-top: 132px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;

    @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
      padding-top: 60px;
      align-items: flex-start;
    }

    @media (max-width: toPixels(map.get($breakpoints, "md"))) {
    }
  }

  &__image {
    max-height: 363px;
    overflow: hidden;
    flex: 0 1 calc(50% + 20px);
    object-fit: cover;
    // width: 100%;

    @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
      flex: 1 1 100%;
    }
  }

  &__slogan {
    flex: 1 1 30%;
    position: relative;
    bottom: -18px;
    padding-left: 125px;
    font-size: $fontSizeRelBase_41;
    color: $color_brown;

    @media (max-width: toPixels(map.get($breakpoints, "xl"))) {
      // bottom: auto;
      padding-top: 80xpx;
      font-size: $fontSizeRelBase_36;
    }

    @media (max-width: toPixels(map.get($breakpoints, "lg"))) {
      padding-left: 0;
      font-size: $fontSizeRelBase_16;
      bottom: auto;
      padding-top: 32px;
      padding-right: 40px;
      max-width: 447px;
    }

    @media (max-width: toPixels(map.get($breakpoints, "sm"))) {
      flex: 1 1 100%;
    }
  }

  &__write-us {
    margin-top: 20px;
  }
}
