.contacts {
  background: $color_gold;
  // height: 161px;

  &__content {
    padding-top: 60px;
    padding-bottom: 55px;

    @include media-breakpoint-down(md) {
      padding-top: 40px;
      padding-bottom: 35px;

      row-gap: 20px;
    }

    p {
      padding-bottom: 10px;
      color: $color_lightgrey;
      line-height: 1.143;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  &__logo {
  }

  &__addresses {
    opacity: 0.8;
  }

  &__phone {
  }
}
