$md_tech: 1320px;

.makeup {
  &__inner {
    position: fixed;
    top: 40px;
    left: -200px;
    transform: rotateZ(-45deg);

    padding: 20px 200px;

    background: #c7375bce;

    @media (max-width: $md_tech) {
      padding: 10px 200px;
      background: #c7375b2a;
    }
  }

  &__text {
    font-size: 40px;
    color: #fff;

    @media (max-width: $md_tech) {
      font-size: 25px;
    }
  }
}
