$fontFamily: "Gilroy";

// $minWidth: 320;
$minWidth: 240;
$maxWidth: 1152;

$maxWidthContainer: 942;
// breakpoints
$md1: $maxWidthContainer + 26;
// $md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$contentIndent: 10;
$contentIndentMd4: 28;

$t_time: 0.25s;
